.card {
    display: inline-block;
    background: red;
    box-shadow: 0 2px 11px 0 rgba(190, 202, 218, 0.17);
    border: 2px #fff solid;
    border-radius: 10px;
    padding: 14px 20px;
    font-size: 13px;
}

.row {
    &>.card-mini {
        width: 19.5%;
    }

    &>.card-small {
        width: 24.5%;
    }

    &>.card-normal {
        width: 33%;
    }

    &>.card-middle {
        width: 49.5%;
    }

    &>.card-large {
        width: 99.5%;
    }
}

.col {
    &>.card-mini {
        height: 19.5%;
    }

    &>.card-small {
        height: 24.5%
    }

    &>.card-normal {
        height: 33%
    }

    &>.card-middle {
        height: 49.5%
    }

    &>.card-large {
        height: 99.5%;
    }
}