@import '@/assets/common/settings.scss';

.framework {
    height: 100%;

    .layout-header-pc {
        height: $layout-header-height;
        flex-shrink: 0;
        padding: 0;
        background-color: $header-color;
    }

    .layout-header-info-pc {
        height: $tags-height;
    }

    .layout-global-pc {
        height: 100%;
        overflow: hidden;
    }

    .layout-slider-pc {
        background-color: $slide-background-color;
    }

    .layout-content-pc {
        padding: 0 20px;
        margin: $content-to-wrap-margin;
        background-color: $content-background-color;
        height: $content-height;
        overflow: hidden;
    }

    .layout-content-wrap-pc {
        height: 100%;
        overflow: hidden;
    }

    // views 
    .layout-view {
        height: $content-view-height;
        overflow-x: hidden;
    }

}

/* icon size*/
.icon-size-large {
    .icon {
        width: $svg-large-size;
        height: $svg-large-size;
    }

    .iconfont,
    .fa {
        font-size: $icon-size-large;
    }
}

.icon-size-normal {
    .icon {
        width: $svg-normal-size;
        height: $svg-normal-size;
    }

    .iconfont,
    .fa {
        font-size: $icon-size-normal;
    }
}

.icon-size-small {
    .icon {
        width: $svg-small-size;
        height: $svg-small-size;
    }

    .iconfont,
    .fa {
        font-size: $icon-size-small;
    }

}