@import 'settings.scss';

@mixin base-font {
    font: {
        font-family: $font-family;
        --webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $normal-font-color;
    }
}