@import 'settings.scss';

// @mixin base-font {
//     font-family: $font-family;
//     --webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     color: $normal-font-color;
// }

@mixin clearfix {
    display: inline-block;

    &:after {
        content: '.';
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
    }

    * html & {
      height: 1px;
  }
}